.grid {
    display: grid;
    /*grid-template-columns: repeat(10, 40px);*/
    grid-template-rows: repeat(10, 40px);
    gap: 1px;
}

.row {
    display: flex;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: background-color 0.2s;
}

.cell:hover {
    background-color: #b0b0b0;
}

.cell:active {
    background-color: #a0a0a0;
}

.cell.ship {
    background-color: #4caf50; /* Цвет для клеток с кораблями */
}

button.active{
    background: #a4d0a7;
}
